div#contenue{
	background-color: red;
}
div#contenue div h1, p, iframe, img{
	margin: 50px;
}
div#contenue div{
	display: inline-block;
	width: 50%
}
div#contenue div.leftbox{
	background-color: red;
	vertical-align: top;
}
div#contenue div.rightbox{
	background-color: blue;
}
div#contenue div.article{
	background-color: white;
	width: 100%;
	margin: 10px;
}
div.article img{
	border-radius: 50%;
}

}
nav.menu-nav ul li.AAC{
	display: inline-block;
	list-style-type: none;
}
nav.menu-nav ul li.AAC a{
	color: red;
	background-color: blue;
	text-decoration: none;
	padding: 10px;
}
nav.menu-nav ul li.AAC:hover a{
	color: blue;
	background-color: white;
	transition: 0.5s all;

}
div.contenue img{
	border-radius: 50%;
}
header{
	background-color: black;
}
footer{
	background-color: red;
}
/*p.a{
	color: red;
	background: #000
}
p.b{
	color: blue;
	font-weight: bold;
}
p.c{
	color: #000;
}
p.d{
	color: #fff;
}
p.e{
	color: #2B689E;
}
body{
	background: url(file:///C:/Users/User/Desktop/Site/img./kira.jpg) no-repeat;
	background-size: 300px;
}
h1.headline{
	font-size: 100px;
	padding: 100px;
	padding-left: 200px;
}
a{
	color: red;
	opacity: 0.5;
}